.text-muted {
  color: #93A1A1;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main > header {
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
}

#main > header > h1 {
  margin-bottom: 0;
}

#main > header > p {
  margin-top: 0;
}

h3.m-t-3.m-b-1 {
  font-size: 1.75rem;
}
